body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
}

#calculatorButtons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 30px);
    column-gap: 5px;
    row-gap: 5px;
}

#calculatorButtons > input[type="button"] {
    background-color: burlywood;
}

#outputField {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 5px;
    text-align: right;
}